.main {
  background: url('/src/assets/car_1.jpg') center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.main-content {
  z-index: 2;
}

.mainText {
  font-size: 3rem;
  font-weight: bold;
}
